  
<div class="nav">
  <% if current_fashionista %>
    <%= link_to "Log out", sessions_path, method: :delete %>
  <% else %>
    <%= link_to "Log in", sessions_path, method: :get %>
  <% end %>
</div>
