<div class="nav">
  <% if current_fashionista %>
    <%= link_to "Fashionistas", '/fashionistas', method: :get %><%= link_to "About Us", '/about', method: :get %><div id='mycloset'><a href='/profile'>My closet</a>
      <div class="dropdown">
        <a href='/profile/edit'>Edit profile</a>
        <a href='/logout'>Log out</a>
      </div>
    </div>


  <% else %>

    <a href="/">Log in
      <a href="/fashionistas/new">Sign up</a></a><%= link_to "About Us", '/about', method: :get %><%= link_to "Fashionistas", '/fashionistas', method: :get %>
  <% end %>
</div>
