
<% @fashionistas.each do |fashionista| %>
  <p>
  <%= fashionista.username %>, <%= fashionista.tagline %> <br/>
  Fashionista id: <%= fashionista.id %>
  Style: <%= Style.find(fashionista.style_id).name.capitalize %>  
  </p> 
<% end %>
