<div class="show">
  <div class="container">

    
  <% @items.each do |item| %>
  <div>
  <img src='<%= item[:image_url] %>' height="150" />
    
  <a href='<%= item[:url] %>'>
    <%= item[:name] %>  
  </a> | <%= item[:price] %>
  </div>

  <% end %>  

  <div class="row">&nbsp;</div>
  </div>
</div>
