<div class="show">
  <div class="container search">

    
  <% @items.each do |item| %>

  <div class='result'>
    <div class="img_frame">  
      <img src='<%= item[:image_url] %>' />
    </div>

  <p>
    <a href='<%= item[:url] %>'>
      <%= item[:name] %>  
    </a> <%= item[:price] %>
  </p>

  <p><a href="/save">Save to closet</a></p>
  </div>

  <% end %>  

  <div class="row">&nbsp;</div>
  </div>
</div>
