<div class="welcome">

<%= render "/fashionistas/nav" %>

<div class='jumbotron'>
  <div class="container">
    <h1>Fashioni.se</h1>
    <h3>A virtual closet assistant</h3>
  </div>
</div>  


<div class="container">
  <div class="about">
    <h3>
      A brand new tool for discovering and 
      keeping track of your coveted fashion items. 
    </h3>  
    <p>  
      Fashioni.se customizes your search results based on your declared style
      and lets you filter items by price, popularity and/or recency.
      Peak inside other fashionistas' closets and steal their style.
    </p>

    <p>
      <a href="/">Sign up</a> and start fashionizing!
    </p>

    <p>
      <small>
      Copyright 2014 <a href="http://nessanguyen.com">Nessa Nguyen</a>
      </small>
    </p>
  </div>
</div>

</div>
