/*
 *= require bootstrap
 *= require bootstrap.min
 *= require bootstrap-theme
 *= require bootstrap-theme.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'variables';

body {
  font-size: 16px;
  color: $text-color;
  overflow: auto;
}

/* About page */

.about {
  width: 500px;
  display: block;
  margin: 15px auto 25px auto;
  background-color: rgba(255,255,255, 0.88);
  padding: 15px 20px;
  border-radius: 5px;
}

.about h3 {
  font-family: 'Special Elite', cursive;
  font-size: 25px;
}

.about p {
  font-family: Helvetica, sans serif;
  margin: 20px 0;
}

.container {
  overflow: hidden;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

h2, .show h3 {
  font-family: 'Special Elite', cursive;
}

p {
  font-family: 'Sanchez', serif;
}

.show {
  background-image: url('/assets/pattern.png');
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-attachment: scroll;
}

.col-md-10, .col-md-8,
.col-md-6 {
  min-height: 100%;
  margin: 0 auto;
  display: block;
  float: none;
  overflow: visible;
}
