/*
 *= require bootstrap
 *= require bootstrap.min
 *= require bootstrap-theme
 *= require bootstrap-theme.min  
 *= require font-awesome 
 *= require_tree .
 *= require_self
 */

body {
  font-size: 16px;
}

/* Welcome index form */
.welcome {
  background-image: url('/assets/bg-collage.jpg');
  width: 100%; 
  height: 100%;
  margin: 0;
  position: absolute;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

.jumbotron h1 {
  font-family: 'Special Elite', cursive;
}

.jumbotron p {
  font-family: 'Sanchez', serif;
}
#login {
  max-width: 330px;
  margin: 50px auto 0 auto;
  padding: 1px 15px 15px 15px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
}

input#email, input#password {
  display: block;
  width: 90%;
  margin: 20px auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input#email:focus, input#password:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#login.form-signin input[type='submit'] {
  display: block;
  padding: 6px 12px;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#login.form-signin input[type='submit']:focus,
#login.form-signin input[type='submit']:active:focus,
#login.form-signin input[type='submit'].active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#login.form-signin input[type='submit']:hover,
#login.form-signin input[type='submit']:focus {
  color: #333;
  text-decoration: none;
}

#login.form-signin input[type='submit'] {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

#login.form-signin input[type='submit']:hover,
#login.form-signin input[type='submit']:focus,
#login.form-signin input[type='submit']:active,
#login.form-signin input[type='submit'].active {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

#login.form-signin input[type='submit']:active,
#login.form-signin input[type='submit'].active {
  background-image: none;
}


/* Fashionista new & edit form */
.new_form, .edit_form,
.search_form {
  margin: 0 auto;
  width: 480px;
}

.new_form td,
.edit_form td,
.search_form {
  padding-bottom: 11px; /* spacing between rows */
}

.new_form td label,
.edit_form td label,
.search_form td label {
  vertical-align: baseline;
  margin: 0;
  padding-top: 7px;  
}

.new_form td input,
.edit_form td input,
.search_form td input {
  vertical-align: top;
}

.confirm { /* create button */
  padding-top: 10px;
  text-align: right; 
}

form.button {
  width: 140px;
  float: right;
} 
.delete button {  /* Delete acc button */
  width: 140px;
  margin-top: 10px;
  float: right;
  margin-right: 105px; /* align with update button */  
}


/* Fashionista all/index */

.col-md-8 h2 {
  font-weight: bold;
  margin:  60px 0 20px 40px;
  font-size: 35px;
}

.all img {
  float: left;
  width: 100px;
  margin: 0 20px 10px 40px;
}


/* Fashionista show page */
.show {
  background-image: url('/assets/pattern.png');
  min-height: 100%;
  width: 100%;  
  position: absolute;
  background-attachment: scroll;
}

.col-md-10, .col-md-8 {
  min-height: 100%;
  margin: 0 auto;
  display: block;
  float: none;
}

.profile_pic {
  width: 300px;
  float: left; 
  margin: 10px 30px 10px 0;
  border: 2px solid #ccc;
}

h2, .show h3 {
  font-family: 'Special Elite', cursive;
}

h2 { margin-top: 60px; }
.show h3 { margin-top: 30px; }

.show p {
  font-family: 'Sanchez', serif;
  font-size: 18px;
}

button, 
.new_form .confirm input, /* edit/new form button */ 
.edit_form .confirm input {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #d990a3 100%);
  background-image:         linear-gradient(to bottom, #f2dede 0%, #d990a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #f3e0e0;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 6px;
}

button:hover, button:focus 
.confirm input[type='submit']:hover, /* not working */
.confirm input[type='submit']:focus {
  background-color: #d990a3;
  background-position: 0 -15px;
}
button:active, button.active 
.confirm input[type='submit']:active {
  background-color: #d990a3;
  border-color: #f3e0e0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);  
}

button, 
.confirm input[type='submit'] {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

a.edit {
  color: #333;
}

a.edit:hover {
  color: #333;
  text-decoration: none;
}

.edit button {
  margin: 20px 10px 5px 0;
}

.profile_grid img {
  width: 50px;  
}

.profile_grid td:nth-child(odd) {
  width: 65px;
}

.profile_grid td:nth-child(even) p {
  margin-bottom: 0;
  vertical-align: bottom;
}


/* Items search page */
.container.search {
  max-width:990px; /* 4 results per row */
}

.result {
  margin: 15px 20px 0 20px;
  float: left;
  width: 200px;
  height: 300px;
}

.img_frame {
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin-bottom: 10px;
}

.img_frame img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.result p {
  margin: 0;
  color: #555;
  font-size: 15px;
  }

.result:nth-child(3n):after {
  clear: both;
  display: block;
  height: 10px;
}


/* Fashionista profile page */
img.thumbnail {
  height: 100px;
  float: left;
  margin: 0 8px 10px 0;
}


/* Item show page */
.item_show {
  height: 300px;
}

/* Navigation & alert */
.alert {
  z-index: 1;
  position: absolute;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-style: italic;
}

.nav {
  z-index: 2;
  position: absolute;
  background: transparent;
  width: 380px;
  margin: 5px 0 0 50%; /* float right */
  padding: 5px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: right;
}

.nav a {
  color: #444;
}

/* Footer
#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
}
 */
