/*
 *= require_tree .
 *= require_self
 */


/* Fashionista new & edit form */
.new_fashionista, .edit_fashionista {
  display: block;
  line-height: 2.2em;
  width: 360px;
}

.new_fashionista label, .edit_fashionista label {
  float: left;
}

.new_fashionista input, .new_fashionista select,
.edit_fashionista input, .edit_fashionista select {
  float: right;
}


/* Fashionista show page */
.profile {
  width: 300px;
}
