/*
 *= require_tree .
 *= require_self
 */

.new_fashionista, .edit_fashionista {
  display: block;
  line-height: 2.2em;
  width: 360px;
}

.new_fashionista label {
  float: left;
}

.new_fashionista input, .new_fashionista select {
  float: right;

}


/* Fashionista show page */
.profile {
  width: 300px;
}
