/* Fashionista show page */
.show {
  background-image: url('/assets/pattern.png');
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-attachment: scroll;
}

.col-md-10, .col-md-8,
.col-md-6 {
  min-height: 100%;
  margin: 0 auto;
  display: block;
  float: none;
}

.profile {
  margin: 4em 0 0 0;
  h2 {
    margin: 0.2em 0 .5em 0;
  }
}

.profile-pic {
  width: 150px;
  float: left;
  margin: 0 2em 1em 0;
  border: 2px solid #ccc;
}

h2, .show h3 {
  font-family: 'Special Elite', cursive;
}

h2 { margin: 70px 0 30px 0; }
.show h3 { margin-top: 30px; }

p {
  font-family: 'Sanchez', serif;
  font-size: 18px;
}

a.edit {
  color: #D6521E;
  font-family: 'Helvetica';
  font-size: .5em;
  text-transform: uppercase;
  margin-left: .5em;
  &:hover {
    color: #333;
  }
}

a.add {
  margin: 0 0 0 1em;
  color: #23A897;
  font-size: .8em;
  &:hover {
    color: #666;
  }
}

.profile-grid img {
  width: 50px;
}

.profile-grid td:nth-child(odd) {
  width: 65px;
}

.profile-grid td:nth-child(even) p {
  margin-bottom: 0;
  vertical-align: bottom;
}


/* Fashionista profile page */
img.thumbnail {
  height: 100px;
  float: left;
  margin: 0 8px 10px 0;
}
