/* Fashionista show page */
.show {
  background-image: url('/assets/pattern.png');
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-attachment: scroll;
}

.col-md-10, .col-md-8,
.col-md-6 {
  min-height: 100%;
  margin: 0 auto;
  display: block;
  float: none;
  overflow: auto;
}

.profile {
  float: right;
  width: 240px;
  margin: 4em 0 0 0;
  text-align: right;
  padding: 1em;
  background-color: rgba(255,255,255,.7);
  border: 1px solid #D4D4D4;
  font-size: 1.1em;
  img { /* hanger */
    width: 40px;
  }
  h3 {
    margin: 0.2em 0 .5em 0;
  }
  .profile-pic {
    width: 150px;
    float: right;
    margin: 0 0 1em 0;
    border: 2px solid #ccc;
  }
  a.edit {
    color: #D6521E;
    font-family: 'Helvetica';
    font-size: .5em;
    text-transform: uppercase;
    margin-left: .5em;
    &:hover {
      color: #333;
    }
  }
  .profile-grid img {
    width: 50px;
  }

  .profile-grid td:nth-child(odd) {
    width: 65px;
  }

  .profile-grid td:nth-child(even) p {
    margin-bottom: 0;
    vertical-align: bottom;
  }
}

.closet {
  float: left;
  width: 65%;
  margin: 4em 1em 1em 0;
  h2 {
    margin: 0 0 .5em 0;
  }
  a.add {
    margin: 0 0 0 1em;
    color: #23A897;
    font-size: .7em;
    text-transform: uppercase;
    &:hover {
      color: #666;
    }
  }
  .thumbnail {
    height: 150px;
    float: left;
    margin: 0 8px 10px 0;
  }
}





/* Fashionista profile page */
img {

}
