@import 'variables';

/* FASHIONISTA PROFILE/SHOW PAGE */
.profile {
  float: right;
  width: 240px;
  margin: 4em 0 0 0;
  text-align: center;
  padding: 1em;
  background-color: rgba(255,255,255,.7);
  border: 1px solid #D4D4D4;
  font-size: 1.1em;
  overflow: auto;
  h3 {
    margin: 0.2em 0 .5em 0;
  }
  .profile-pic {
    width: 150px;
    margin: 0 auto 1em auto;
    border: 1px solid #ccc;
  }
  a.edit {
    color: $orange;
    font-family: 'Helvetica';
    font-size: .5em;
    text-transform: uppercase;
    margin-left: .5em;
    &:hover {
      color: #333;
    }
  }
}

.closet {
  float: left;
  width: 70%;
  margin: 4em 1em 1em 0;
  overflow: auto;
  h2 {
    margin: 0 0 .5em 0;
  }
  a.add {
    margin: 0 0 0 1em;
    float: none;
    color: #428bca;
    font-family: Helvetica;
    font-size: .62em;
    text-transform: uppercase;
    &:hover { color: #666; }
  }
}

/* CLOSET ITEMS */
.closet {
  a.item {
    overflow: hidden;
    height: 150px;
    width: 150px;
    float: left;
    margin: 0 8px 10px 0;
    color: #333;
  }

  div.image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  div.overlay {
    visibility: hidden;
    width: 150px;
    height: 150px;
    position: relative;
    padding: .5em;
    top: -150px;
    background-color: rgba(255,255,255,.8);
  }
}

.closet {
  a.item:hover {
    div.overlay {
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .col-md-10 {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .profile, .closet {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .profile {
    width: 70%;
    min-width: 400px;
    margin-top: 3.5em;
    .profile-pic {
      float: right;
      margin: 0 1em;
    }
  }
  .closet {
    margin-top: 2em;
    width: 95%;
  }
}

/* FASHIONISTA SHOW */
.other {
  span {
    color: $med-orange;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
  }
}
