@import 'variables';

/* ITEM SHOW PAGE */
.item-show {
  text-align: center;
  h3 {
    margin-top: 60px;
  }
}

.item-show {
  form {
    margin-bottom: 1em;
  }
  a {
    color: $orange;
    &:hover {
      color: $med-orange;
    }
  }
  .remove a {
    color: #7f7f7f;
    font-weight: bold;
    &:hover {
      color: #9C9C9C;
    }
  }
}

iframe {
  width: 100%;
  display: inline;
  min-height: 650px;
  margin: 0 0 3em 0;
}


/* ITEM SEARCH RESULTS */
.container.search {
  max-width:990px; /* 4 results per row */
  h2 { margin: 2.5em 0 1em 0; }
}

.result {
  margin: 15px 20px 0 20px;
  width: 200px;
  max-height: 300px;
  float: left;
}

.search-result {
  padding-left: 0;
  li {
    display: inline-block;
    width: 200px;
    margin: 10px 0 10px 20px;
    vertical-align: top;
  }
  li p {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
  }
}

.img-frame {
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin-bottom: 10px;
  display: block;

  img {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
}

.save-item {
  float: right;
  margin-right: .5em;
  background-color: transparent;
  color: $med-orange;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  &:hover {
    color: $orange;
  }
}
