@import 'variables';

/* Navigation & alert */

.alert {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  background: rgba(255,255,255,.75);
  box-shadow: none;
  -webkit-box-shadow: none;
  font-style: italic;
  padding: 10px 20px;
}

.nav {
  z-index: 1;
  position: absolute;
  margin: 5px 0 0 56%; /* float right */
  min-width: 365px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  a {
    background-color: $med-orange;
    padding: 8px 12px;
    color: #fff;
    &:hover {
      background-color: $orange;
    }
  }
}

@media only screen and (max-width: 850px) {
  .nav {
    margin-left: 40%;
  }
}
