@import 'variables';

/* Navigation & alert */

.alert {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  background: rgba(255,255,255,.75);
  box-shadow: none;
  -webkit-box-shadow: none;
  font-style: italic;
  padding: 10px 20px;
}

.nav {
  z-index: 1;
  position: absolute;
  margin: 5px 0 0 56%; /* float right */
  min-width: 410px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  a {
    display: inline;
    background-color: $med-orange;
    padding: 8px 12px;
    color: #fff;
    &:hover {
      background-color: $orange;
    }
  }
}

#mycloset {
  margin: 0;
  display: inline;
  a { padding: 8px 12px; }
}
.dropdown {
  display: none;
  width: 8.5em;
  margin: 5px 0 0 0;
  right: -253px;
  position: relative;
  a {
    display: block;
    padding: 8px 0;
    font-size: .95em;
  }
}

@media only screen and (max-width: 980px) {
  .nav {
    margin-left: 50%;
  }
}
