@import 'variables';

/* Fashionista item search form */
.search-form {
  margin-top: 20px;
}

.search-form td {
  padding-bottom: 16px; /* spacing between rows */
}
.search-form td:nth-child(odd) label {
  font-weight: normal;
}
.search-form td label {
  vertical-align: bottom;
}
input#search_term {
  width: 80%; /* search input */
}
.search-form input[type='radio'],
.search-form input[type='checkbox'] {
  vertical-align: middle;
  margin-bottom: 5px;
}

.search-form .confirm input {
  display: block;
  margin: 0 auto;
}

.search-criteria {
  width: 580px;
  float: left;
  margin: 4em 1em 0 1em;
  h2 {
    margin: 0 0 1em 0;
  }
}

.feed {
  float: right;
  width: 400px;
  height: 400px;
  margin: 4em 8% 2em 1em;
  border-radius: 6px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  h3 {
    margin: 0;
    padding: .5em;
    color: #fff;
    background-color: #9FB83B;
  }
  .tweets {
    height: 380px;
    padding: 1em 1em 0.5em 1em;
    overflow-y: auto;
  }
  p {
    font-size: .95em;
    font-family: 'Helvetica';
    color: #444;
  }
}

@media only screen and (max-width: 1200px) {
  .feed, .search-criteria {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .feed {
    margin-top: 1em;
  }
}
