$orange: #D6521E;
$med-orange: #DC6C40;
$teal: #23A897;
$text-color: #444;

@mixin button-orange {
  background-color: #e27e2e;
  background-repeat: repeat-x;
  padding: 8px 12px;
  border-radius: 6px;
  border: 0;
  outline: none;
  line-height: 1.33;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px #666;
  &:hover {
    opacity: .9;
  }
}

@mixin button-discreet {

}

button,
.new_form .confirm input, /* edit/new form button */
.edit_form .confirm input,
.search-form .confirm input {
  @include button-orange;
}


